.list {
  display: flex;

  margin-bottom: 10px;
}

.item + .item {
  margin-left: 10px;
}

.button {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  width: 140px;
  border-radius: 10px;
  margin: 10px 20px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #6f4e37;
  background: white;
  transition: 0.3s;
}
.button:hover {
  background: #6f4e37;
  color: white;
}
